:root {
    --primary: #390077;
    --secondary: #7b2bc2;
    --light: #f8f5ff;
    --dark: #222;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
}


body {
    color: var(--dark);
    background: #fff;
}



/* HERO */

.hero {

    background:
        linear-gradient(110deg, rgb(69 28 105), rgb(22 76 182)),
        url("images/structured-finance.jpg");

    background-size: cover;
    background-position: center;

    padding: 80px 8%;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

}


.hero-content {

    max-width: 650px;

}


.hero h1 {

    font-size: 48px;
    margin-bottom: 20px;

}


.hero p {

    font-size: 18px;
    line-height: 1.8;
    opacity: .9;

}


.hero-btn {

    display: inline-block;
    margin-top: 30px;

    background: white;
    color: #390077;

    padding: 15px 40px;
    border-radius: 30px;

    font-weight: 600;
    text-decoration: none;

}



.hero-image img {
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(57, 0, 119, .12);
    width: 620px;

}



/* COMMON */

.container {

    width: 85%;
    margin: auto;

}


.section {

    padding: 80px 0;

}


.section-title {

    text-align: center;
    margin-bottom: 50px;

}


.section-title h2 {

    font-size: 36px;
    color: #390077;

}


.section-title p {

    color: #666;
    margin-top: 12px;

}



/* SERVICES */


.finance-grid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}



.finance-card {

    padding: 35px;

    background: white;

    border-radius: 20px;

    box-shadow:
        0 15px 45px rgba(57, 0, 119, .12);

    transition: .3s;

}


.finance-card:hover {

    transform: translateY(-10px);

}



.finance-card i {

    height: 70px;
    width: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #efe4ff;

    color: #390077;

    font-size: 30px;

    border-radius: 50%;

    margin-bottom: 20px;

}


.finance-card h3 {

    color: #390077;
    margin-bottom: 15px;

}


.finance-card p {

    line-height: 1.7;
    color: #555;

}



/* SOLUTIONS */


.solutions {

    background: #f8f5ff;

}


.solution-box {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

}



.solution-item {

    background: #fff;

    padding: 25px;

    border-radius: 15px;

    display: flex;

    gap: 20px;

    align-items: center;

    box-shadow: 0 10px 25px rgba(0, 0, 0, .05);

}



.solution-item i {

    font-size: 28px;
    color: #390077;

}



.solution-item h3 {

    font-size: 20px;

}



/* PROCESS */


.process {

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 25px;

}



.process-card {

    text-align: center;

}


.process-number {

    height: 65px;
    width: 65px;

    display: flex;

    align-items: center;
    justify-content: center;

    margin: auto;

    background: #390077;

    color: white;

    font-size: 24px;

    border-radius: 50%;

    font-weight: bold;

}


.process-card h4 {

    margin-top: 18px;

}



/* WHY BANK */


.why {

    display: flex;

    gap: 50px;

    align-items: center;

}



.why img {

    width: 450px;

    border-radius: 20px;

}


.why-content h2 {

    font-size: 36px;
    color: #390077;

    margin-bottom: 20px;

}


.why-list {

    list-style: none;

}


.why-list li {

    margin: 15px 0;

    font-size: 17px;

}


.why-list i {

    color: #390077;
    margin-right: 12px;

}



/* CTA */


.cta {

    background: linear-gradient(120deg, #390077, #8b35d1);

    padding: 70px 20px;

    text-align: center;

    color: white;

}


.cta h2 {

    font-size: 38px;

}


.cta p {

    margin-top: 15px;

}



.cta a {

    display: inline-block;

    margin-top: 30px;

    background: white;

    color: #390077;

    padding: 15px 45px;

    border-radius: 30px;

    text-decoration: none;

    font-weight: 600;

}



/* RESPONSIVE */


@media(max-width:900px) {


    .hero {

        flex-direction: column;
        text-align: center;

    }


    .hero h1 {

        font-size: 36px;

    }


    .hero-image img {

        width: 300px;

    }


    .finance-grid,
    .solution-box,
    .process {

        grid-template-columns: 1fr;

    }


    .why {

        flex-direction: column;

    }


    .why img {

        width: 100%;

    }

}