

/* PROFILE PAGE */
.profile-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding: 0px;
}

/* CARD */
.profile-card,
.security-card {
  background: #fff;
  border-radius: 16px;
  padding: 22px;
  border: 1px solid var(--border);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
}

/* HEADER */
.profile-header {
  display: flex;
  align-items: center;
  gap: 14px;
  position: relative;
}

.profile-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-avatar i {
  color: #fff;
  font-size: 22px;
}

.profile-details h2 {
  font-size: 18px;
}

.profile-details p {
  font-size: 13px;
  color: var(--text-muted);
  display: flex;
  align-items: center;
  gap: 6px;
}

/* EDIT BUTTON */
.edit-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--accent-light);
  border: none;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.edit-btn:hover {
  background: #e0e7ff;
}

.edit-btn i {
  color: var(--primary);
}

/* DELETE BUTTON */
.delete-btn {
  position: absolute;
  right: 40px;
  top: 0;
  background: var(--accent-light);
  border: none;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn:hover {
  background: #591c1c;
}

.delete-btn i {
  color: var(--danger);
}

.modal12 {
  width: 1340px;
  max-width: 100%;
  border-radius: 16px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* INFO GROUP */
.info-group {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  transition: 0.2s;
}

.info-group:hover {
  background: #f9fafb;
}

.info-group i {
  width: 34px;
  height: 34px;
  background: var(--accent-light);
  color: var(--primary-dark);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-group label {
  font-size: 12px;
  color: var(--text-muted);
}

.info-group span {
  font-size: 14px;
  font-weight: 500;
}

/* SECURITY */
.security-header h3 {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.security-header p {
  font-size: 13px;
  color: var(--text-muted);
  margin: 6px 0 16px;
}

.security-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border: 1px solid var(--border);
  border-radius: 12px;
  margin-bottom: 12px;
  transition: 0.2s;
}

.security-box:hover {
  background: #f9fafb;
}

.security-info h4 {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.security-info p {
  font-size: 12px;
  color: var(--text-muted);
}

/* BUTTON */
.security-btn {
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.security-btn:hover {
  background: var(--secondary);
}

/* DANGER */
.security-box.danger {
  border-color: #fee2e2;
}

/* SWITCH */
.switch {
  position: relative;
  width: 42px;
  height: 22px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  background: #d1d5db;
  border-radius: 20px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 3px;
  top: 3px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked+.slider {
  background: var(--primary);
}

.switch input:checked+.slider::before {
  transform: translateX(18px);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .profile-page {
    grid-template-columns: 1fr;
  }
}


/* rights table  */
/* RIGHTS CARD */
.rights-card {
  margin: 15px 0px 0px;
  background: #fff;
  border-radius: 16px;
  padding: 17px;
  border: 1px solid var(--border);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
}

/* HEADER */
.rights-header h3 {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.rights-header p {
  font-size: 13px;
  color: var(--text-muted);
  margin: 6px 0 18px;
}

/* GRID */
.rights-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  /* height: calc(100vh - 575px);
  overflow: auto; */
}

/* ITEM */
.right-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid var(--border);
  transition: 0.2s;
  cursor: pointer;
}

.right-item:hover {
  background: #f9fafb;
}

/* LEFT CONTENT */
.right-item i {
  width: 34px;
  height: 34px;
  background: var(--accent-light);
  color: var(--primary-dark);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.right-item span {
  flex: 1;
  font-size: 14px;
  font-weight: 500;
}

/* CHECKBOX */
.right-item input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .rights-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .rights-grid {
    grid-template-columns: 1fr;
  }
}

/* ================= FOOTER (BANK GRADE) ================= */
.footer {
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0;
  height: 42px;
  /* reduced height */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background: #ffffff;
  border-top: 1px solid var(--border);

  font-size: 12px;
  color: var(--text-muted);

  z-index: 800;
}

/* subtle divider */
.footer .divider {
  color: #d1d5db;
}

/* highlight company */
.footer strong {
  font-weight: 600;
  color: var(--primary);
}

.profile-upload {
  position: relative;
  width: 120px;
  height: 120px;
  display: inline-block;
}

.profile-upload img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
  top: 28px;
  position: absolute;
  left: -3px;
}

.upload-icon {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  cursor: pointer;

  opacity: 0;
  transition: opacity 0.3s ease;
  width: 60px;
  height: 60px;
  top: 30px;
}

.profile-upload:hover .upload-icon {
  opacity: 1;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .footer {
    left: 0;
    font-size: 11px;
    height: 40px;
    flex-direction: column;
    gap: 2px;
  }
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

  .main {
    margin-left: 0;
  }

  .footer {
    left: 0;
    font-size: 12px;
  }

  .content {
    padding: 16px;
    padding-bottom: 70px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 16px;
  }

  .close-sidebar {
    display: block;
  }
}

/* Chrome, Edge, Safari */
.rights-grid::-webkit-scrollbar {
    width: 10px;
}

.rights-grid::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.rights-grid::-webkit-scrollbar-thumb {
    background: #390077;
    border-radius: 10px;
    transition: background 0.25s ease;
}